body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    color: yellow; 
}

.navbar{
    display: flex;
    jusify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: royalblue;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
}
.navbar Li a{
    text-decoration: none;
    padding: 15px 10px;
}

.navbar li a:hover {
    background-color: gray;
    color: black;

}




.footer {
    text-align: center;
background-color: black;
color: white;
padding: 20px 50px;
bottom: 0;
position: absolute;
width: 100%;
}

.pic{
    height: 300px;
    width: 300px;
}

.container{
    text-align: center;
    justify-content: center;

}
.navbar{
    text-align: center;
    justify-content: center;
}
.cbox{
    width: 200px;
    height: 200px;
    border: 10px solid red;
}
